body{
    margin: 0;
    padding: 0;
    overflow:scroll;
    max-width: 1400px;
    font-family: "Manrope", sans-serif;
}

.container{
    margin-top: 40px;
    
}
.wa img{
    position: fixed;
    width: 70px;
    height: 70px;
    z-index: 9;
    right: 60px; /* Puedes ajustar este valor según tu preferencia */
    bottom: 200px;
}



.card {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    vertical-align: top;
    text-align: center;
    height: 280px;
    width: 280px;
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 10px 10px 0 0; /* Aplicar borde redondeado solo en la parte superior de la imagen */
    object-fit: contain; /* Ajustar la imagen sin deformarla */
    object-position: center;
}

.card h1 {
    font-size: 16px;
    margin: 10px 0;

}

.card h2 {
    font-size: 16px;
    margin: 5px 0;
    color: rgb(8, 8, 167);
    font-weight: bold;

}

.card h3 {
    font-size: 16px;
    margin: 5px 0;
    color: rgb(4, 160, 38);
}

.card:hover {
    transform: translateY(-5px); /* Efecto de levantamiento en hover */
}


.title{
    background-color: white;
    height: 70px;
    padding: 15px;
    margin: 0;
    text-align: center;
    box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.27);
}

.tit{
    color: rgb(4, 160, 38);
    font-weight: bold;
    font-size: 25px;
    margin: 5px;
}

.subt{
    margin: 5px;

}



@media only screen and (max-width: 600px) {
    /* Estilos específicos para dispositivos móviles con ancho máximo de 600px */
    .card {
        margin: 10px;
        padding: 5px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        display: inline-block;
        vertical-align: top;
        text-align: center;
        height: 180px;
        width: 160px;
    }
    .wa img{
        position: fixed;
        width: 70px;
        height: 70px;
        z-index: 9;
        right: 25px; /* Puedes ajustar este valor según tu preferencia */
        bottom: 30px;
    }
    .card img {
        width: 80px;
        height: 80px;
        border-radius: 10px 10px 0 0; /* Aplicar borde redondeado solo en la parte superior de la imagen */
        object-fit: contain; /* Ajustar la imagen sin deformarla */
        object-position: center;
    }
    
    .card h1 {
        font-size: 11px;
        margin: 5px 0;
    }
    
    .card h2 {
        font-size: 11px;
        margin: 5px 0;
        color: rgb(8, 8, 167);
    }
    
    .card h3 {
        font-size: 10px;
        margin: 5px 0;
        color: rgb(4, 160, 38);
    }
    
    .card:hover {
        transform: translateY(-5px); /* Efecto de levantamiento en hover */
    }
    
    
    .title{
        background-color: white;
        width: 100%;
        height: 70px;
        padding: 10px;
        margin: 0;
        text-align: center;
        box-shadow: 3px 6px 5px 0px rgba(0,0,0,0.27);
    }
    
    .tit{
        color: rgb(4, 160, 38);
        font-weight: bold;
        font-size: 15px;
        margin: 5px;
    }
    
    .subt{
        margin: 5px;
        font-size: 11px;
    
    }
    
}
